/* .agricultureSolutionsParentDiv {
  border: 1px solid red;
} */

.agricultureSolutionsHeadingDiv {
  /* border: 1px solid black; */
  /* align-items: center; */
  width: 70%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.agricultureSolutionsHeadingDiv > h1 > span {
  color: #ef4c23;
}

.plantBasedServicesBackImageDiv img {
  width: 100%;
}

.agricultureSolutionsMainDataCards {
  /* border: 2px solid black; */
  /* background-color: #ef4c23; */
  width: 100%;
  /* margin: auto; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2%;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.agricultureSolutionsMainDataCards > div {
  width: 26%;
  height: 450px;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  /* margin-top: 4%; */
  /* margin-bottom: 2%; */
  padding: 1%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.agricultureSolutionsMainDataCards > div > div > img {
  /* height: 65%; */
  width: 100%;
  object-fit: cover;
}
