.cryptocurrencybannermainbox {
  height: 100vh;
  width: 99.6%;
  border: 3px solid white;
  /* margin-top: 120px; */
  background-image: url("/Images/Cryptocurrencypage/bannerbackground/cryptobanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cryptocurrencybannermainboxinnertextdiv {
  height: 50%;
  width: 37%;

  margin-top: 15%;
  margin-left: 3%;
  text-align: center;
}

.cryptocurrencybannermainboxinnertextdiv > h1 {
  color: white;
}
.cryptocurrencybannermainboxinnertextdiv > p {
  color: white;
  text-align: justify;
}

.cryptocurrencybannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.cryptocurrencybannerbutton:hover {
  background-color: white;
  color: #3380f2;
}
