.cryptominingmainvoxcryptocurrency{

    height: fit-content;
    width: 100%;
   
}

.cryptocurrencytextbanner{
    width: 70%;
    height: 40px;
    
    margin-top: 100px;
 background-image: url("Images/Cryptocurrencypage/bannerbackground/Rectangle 4416-1.png");
}

.cryptocurrencytextbanner>h2{
    color: white;
    text-align: center;
}

.cryptocurrencyminigflexboxing{
    display: flex;
}

.cryptocurrencyminigflexboxingleft{
    height: fit-content;
    width: 45%;
   
  
   margin-left: 2%;
    position: relative;
}

.cryptocurrencyminigflexboxingleftimageone{
    height: 100%;
    width: 100%;
   
    padding: 7%;
}

.cryptocurrencyminigflexboxingleftimageone>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cryptocurrencyminigflexboxingleftimagetwo{
    position: absolute;
    height: 70%;
    width: 40%;

    top: 22%;
    left: 30%;
padding: 1%;

}
.cryptocurrencyminigflexboxingleftimagetwo >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cryptocurrencyminigflexboxingright{
    height: fit-content;
    width: 60%;
    display: flex;
    flex-wrap: wrap;

    margin-top: 10%;
    padding: 1%;
}

.cryptominingrightboxmapping{
    height: fit-content;
   width: 45%;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1%;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.cryptominingrightboxmapping:hover{
    transform: scale(1.02);
    background-color: #FFFEE0;
}



.cryptominingrightboxmappinglogo{
    width: 15%;
    height: 30%;

padding: 5px;
}


.cryptominingrightboxmappinglogo >img{
    height: 100%;
    width: 100%;
object-fit: contain;
}

.cryptominingrightboxmappingtxt{
    width: 90%;

text-align: justify;
    height: 100%;
}