.cryptocurrencyworkmainbox {
  height: fit-content;
  margin-top: 50px;
  position: relative;
}

.cryptocurrencyworkborderdivboxingimg {
  height: 10%;
  width: 70%;

  margin-top: 2%;
  background-image: url("/Images/Cryptocurrencypage/bannerbackground/Rectangle\ 4416-1.png");
}

.cryptocurrencyworkborderdivboxingimg > h3 {
  text-align: center;
  color: white;
  padding: 1%;
}

.cryptocurrencyworkimageboxing {
  height: 600px;
  width: 100%;
  padding: 1%;
}

.cryptocurrencyworkimageboxing > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  text-align: center;
}

.cryptocurrencyworklowerboxingimage {
  height: 50px;
  width: 60%;

  position: absolute;
  left: 40%;
  background-image: url("/public/Images/Cryptocurrencypage/bannerbackground/Rectangle 4417.png");
}
