.CryptoCurrencyServicesmainboxes{
    height: fit-content;

    margin-top: 10%;
}

.cryptoservicetxtboxes{
    height: 25%;
    width: 100%;

    text-align: center;
}
.cryptoserviceflexboxes{
    height: 80%;
    width: 90%;
  
    margin: 0% 2% 0% 5%;
    display: flex;
    flex-wrap: wrap;
}

.cryptoserviceflexboxmappingind{
    height: 40%;
    width: 22%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1% 1% 1% 1%;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
}

.cryptoserviceflexboxmappingind:hover {
    transform: scale(1.02);
    background-color: #FBF9C6;
}