.cryptolowerbannermainbox{
    height: 400px;
  background-image: url("/public/Images/Cryptocurrencypage/bannerbackground/Group 339989.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.cryptocurrencylowerbannertxtdiv{
    position: absolute;
    height: 60%;
    width: 50%;
 
    left: 25%;
    top: 30%;
    text-align: center;
}

.cryptocurrencylowerbannertxtdiv >h2 {
    color: white;

}
.cryptocurrencylowerbannertxtdiv > h3 {
    color: white;
   
}


.cryptocurrencylowerbannerbutton{
    padding: 10px 50px;
    border-radius: 100px;
    width: 220px;
    background-color: #3380f2;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 30px;
   
  
}

.cryptocurrencylowerbannerbutton:hover {

    background-color:white;
    color:  #3380f2;

}