.mobileDevMainWhyChooseOuterDiv {
  /* border: 2px solid red; */
  width: 100%;
  height: 150vh;
}
.mobileDevMainWhyChooseHeading {
  /* border: 2px solid red; */
  width: 80%;
  margin: auto;
  padding: 3%;
  text-align: center;
}
.mobileDevMainWhyChooseImageContainer {
  /* border: 2px solid red; */
  width: 100%;
  height: 100vh;
  background-size: cover;
  object-fit: cover;
}
.mobileDevMainWhyChooseImage {
  width: 100%;
  position: relative;
}
.mobileDevMainWhyChooseheading1 {
  color: #ef4c23;
  position: absolute;
  margin-top: -47.5%;
  margin-left: 27%;
  width: 8%;
  /* border: 2px solid red; */
}
.mobileDevMainWhyChooseText1 {
  font-size: 10px;
  color: black;
  margin-top: -46%;
  margin-left: 27.2%;
  width: 8%;
  /* border: 2px solid red; */
}
.mobileDevMainWhyChooseheading2 {
  color: #ef4c23;
  position: absolute;
  margin-top: -35%;
  margin-left: 24%;
  width: 8%;
  /* border: 2px solid red; */
}
.mobileDevMainWhyChooseText2 {
  font-size: 10px;
  color: black;
  margin-top: -35%;
  margin-left: 24.2%;
  width: 8%;
  /* border: 2px solid red; */
}
.mobileDevMainWhyChooseheading3 {
  color: #ef4c23;
  position: absolute;
  margin-top: -22.5%;
  margin-left: 28%;
  width: 8%;
  /* border: 2px solid red; */
}
.mobileDevMainWhyChooseText3 {
  font-size: 10px;
  color: black;
  margin-top: 9.5%;
  margin-left: 28.2%;
  width: 8%;
  /* border: 2px solid red; */
}
.mobileDevMainWhyChooseheading4 {
  color: #ef4c23;
  position: absolute;
  margin-top: -47.5%;
  margin-left: 70.5%;
  width: 8%;
  /* border: 2px solid red; */
}
.mobileDevMainWhyChooseText4 {
  font-size: 10px;
  color: black;
  margin-top: -30%;
  margin-left: 70.5%;
  width: 8%;
  /* border: 2px solid red; */
}
.mobileDevMainWhyChooseheading5 {
  color: #ef4c23;
  position: absolute;
  margin-top: -36%;
  margin-left: 74.5%;
  width: 9%;
  /* border: 2px solid red;*/
}
.mobileDevMainWhyChooseText5 {
  font-size: 10px;
  color: black;
  margin-top: 9%;
  margin-left: 74.5%;
  width: 8%;
  /* border: 2px solid red; */
}
.mobileDevMainWhyChooseheading6 {
  color: #ef4c23;
  position: absolute;
  margin-top: -22.5%;
  margin-left: 69.8%;
  width: 8%;
  /* border: 2px solid red; */
}
.mobileDevMainWhyChooseText6 {
  font-size: 10px;
  color: black;
  margin-top: 8.5%;
  margin-left: 70.5%;
  width: 8%;
  /* border: 2px solid red; */
}
