.digitalmarketclientsaddmainbox {
  height: fit-content;
  border: 1px solid #ef4c23;
  padding: 30px;

  text-align: center;
}

.digitalmarketingclientsaddbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: auto;
  height: 50px;
  background-color: #ef4c23;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 1%;
}

.digitalmarketingclientsaddbutton:hover {
  background-color: white;
  color: #ef4c23;
}
