.digitalmarketingbannermainboxes {
  height: 100vh;
  background: url("/Images/digitalmarket/HeroSection.png");
  background-size: contain;
  margin-top: 100px;
  background-repeat: no-repeat;
  position: relative;
  background-position-x: right;
}

.digitalmarketingbannerspacefortext1 {
  height: 45%;
  width: 40%;
  /* margin-left: 3%; */
  position: absolute;
  top: 35%;
  left: 5%;
  text-align: justify;
}
.digitalmarketingbannerspacefortext1 p {
  font-size: 18px;
  margin-top: 2%;
}

.digitalmarketingbannerspacefortext1 > h1 {
  font-weight: bold;
  /* margin-left: 5%; */
}

.digitalmarketingbannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: 250px;
  background-color: #ef4c23;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 5%;
}

.digitalmarketingbannerbutton:hover {
  background-color: white;
  color: #ef4c23;
}
