.digitalmarketingweoffersmainboxes{
    height: fit-content;
    /* border: 2px solid yellow; */
    margin: 2%;

    
}

.marketplaceboxerflex{
    height: 120px;
    width: 95%;
   margin: 3%;
 /* border: 2px solid green; */
    display: flex;
}
.marketplaceboxerflex:hover{
    background-color: #ffedd4;
    transition: all 0.2s linear;
    transform: translateY(-10px);
}

.marketplacenumberingbox{
    height: 100%;
    width: fit-content;
 
    margin-left: 0.4%;
font-size: 90px;
font-weight: 700;
opacity: 0.4;
border-right: 3px solid #ef4c23;
/* border: 2px solid yellow; */
}

.marketplaceiconbox{
    height: 100%;
    width: 12%;
    /* border: 2px solid pink; */
 
    margin-left: 2%;
    padding: 20px;
 
}

.marketplacetxtbox{
    width: 65%;
  
    /* margin-left: 2%; */
    padding: 10px;
    /* border: 2px solid green; */

}

.marketplacetxtbox >h4 {
    text-align: justify;
}



.digitalmarketingwhybutton{
    padding: 10px 50px;
    border-radius: 100px;
    width: 220px;
   background-color: transparent;
    border: none;
    outline: none;
    box-shadow: #ef4c23 0px 0.5px 2px;
    font-size: 17px;
    font-weight: 600;
    color: #ef4c23;
    margin-top: 20%;
    /* margin-left: 5%; */
  
}

.digitalmarketingwhybutton:hover {

    background-color:#ef4c23;
    color:  white;

}


.colorred{
    color: #ef4c23;
}

.weofferbesttextbox{
    margin-top: 5%;
    height: 100px;
    width: 80%;

    margin-left: 3%;
  
}

.weofferbesttextbox >h1  {

    font-weight: bold;
}

