.digitalmarketinghiringmainbox{
    height: fit-content;
margin-top: 100px;
}

.digitalmarkethiringtextbox{
    text-align: center;

}

.digitalmarketinghiringimageboxes{
    height: auto;
    width: 100%;
 
    margin-top: 5%;
}

.digitalmarketinghiringimageboxes >img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.digitalmarketafterimageflexingbox{
    display: flex;
    height: fit-content;
     
}
.digitalmarkethiringflexingtxt{
    height: fit-content;
    width: 20%;
  /* border: 2px solid yellow; */
    margin: auto;
    margin-left: 3%;
    margin-right: 2%;


}

.digitalmarkethiringflexingtxt >h4{

text-align: center;
font-weight: 700;

}

.digitalmarkethiringflexingtxt >p {
    text-align: justify;
 
}