.CustomisedWebServicesContainer {
  background: #f5f5f5;
  margin: 2% auto 2% auto;
  padding: 2% 0 2% 0;
}

.CustomisedWebServicesHeading {
  width: 90%;
  margin: auto;
}

.CustomisedWebServicesHeading > h1 {
  font-size: 32px;
  width: fit-content;
  text-transform: uppercase;

  margin: 0 0 1% 0;
}

.CustomisedWebServicesHeading > h1 > span {
  color: #ef4c23;
}

.CustomisedWebServicesMain {
  width: 80%;
  margin: auto;
}

.CustomisedWebServicesFrontend,
.CustomisedWebServicesBackend {
  width: 100%;
  height: fit-content;
  margin-bottom: 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CustomisedWebServicesFrontendContent,
.CustomisedWebServicesBackendContent {
  width: 45%;
}

.CustomisedWebServicesFrontendContent > h2,
.CustomisedWebServicesBackendContent > h2 {
  font-size: 25px;
  width: 100%;
  margin: 1% auto 2% auto;
}

.CustomisedWebServicesFrontendContent > p,
.CustomisedWebServicesBackendContent > p {
  font-size: 17px;
  width: 100%;
  margin: 1% auto 1% auto;
  text-align: justify;
}

.CustomisedWebServicesFrontendImage,
.CustomisedWebServicesBackendImage {
  width: 40%;
  height: fit-content;
  background-color: #ff714d;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  padding: 5px;
}
.CustomisedWebServicesFrontendImage {
  border-bottom-left-radius: 40%;
}

.CustomisedWebServicesFrontendImage > img {
  width: 100%;
  border-bottom-left-radius: 40%;
}

.CustomisedWebServicesBackendImage > img {
  width: 100%;
  border-top-right-radius: 40%;
}

.CustomisedWebServicesBackendImage {
  border-top-right-radius: 40%;
}

.CustomisedWebServicesHrLine {
  width: 30%;
  margin: 1% 0 1% 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CustomisedWebServicesHrLine > div {
  border: 2px solid #ef4c23;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.CustomisedWebServicesHrLine > span {
  width: 45%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}
