.xamarinDevelopersmainbox {
  height: 40vh;
  width: 99.7%;
  border: 1px solid white;
  margin-top: 2%;
  background-image: url("/Images/Xamarin/Group 340012 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.xamarinDevelopersmainboxinnertextdiv {
  margin-top: 5%;
  text-align: center;
}

.xamarinDevelopersmainboxinnertextdiv > h1 {
  color: white;
}
.xamarinDevelopersmainboxinnertextdiv > p {
  color: white;
  /* border: 2px solid red; */
  width: 60%;
  margin: auto;
}

.xamarinDevelopersbutton {
  padding: 10px 50px;
  border-radius: 5px;
  width: 220px;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 2%;
  color: white;
}

.xamarinDevelopersbutton:hover {
  background-color: white;
  color: #3380f2;
}
