.andriodServicesMainDiv {
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
}
.andriodServicesheading {
  color: black;
  width: 90%;
  margin-left: 3%;
  margin-top: 2%;
  /* border: 2px solid red; */
}
.andriodServicesContainerDiv {
  /* border: 2px solid black; */
  width: 80%;
  margin: auto;
  margin-top: 1%;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}
.andriodServiceBox {
  /* border: 2px solid red; */
  width: 90%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}
.andriodServicesContainerBoxes {
  width: 30%;
  border-radius: 5px;
  /* border: 2px solid red; */
  background-color: white;
  margin-left: 3%;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
}

.andriodServicesContainerBoxes:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  transform: scale(1.1);
  /* transform: translateY(-15px); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f08034;
  color: white;
}

.andriodServiceBoxIcon {
  border: 1px solid lightgray;
  width: 25%;
  height: 65px;
  padding-left: 6px;
  border-radius: 5px;
  margin-top: 3%;
  object-fit: cover;
  background-size: cover;
}
.andriodServiceBoxHeading {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 3%;
  font-weight: 500;
}
.andriodServiceBoxContent {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 3%;
  font-size: 13px;
}
.andriodServiceImage {
  /* border: 2px solid red; */
  width: 60px;
  height: 60px;
  padding: 7%;
}
