.CryptoDevServiceMain {
  margin: auto;
  margin-top: 0;
  padding: 1%;
  background: #f5f5f5;
}

.CryptoDevServiceMain > h1 {
  font-size: 32px;
  width: 90%;
  margin: 2% auto;
}

.CryptoDevServiceMain > h1 > span {
  color: #ef4c23;
}

.CryptoDevServiceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CryptoDevServiceContent {
  width: 50%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.CryptoDevServiceContent > div {
  width: 48%;
  height: 150px;
  margin-bottom: 2%;
  background-color: white;

  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;

  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.CryptoDevServiceContent > div > h4 {
  font-size: 16px;
  margin: 0;
  z-index: 0;

  position: absolute;
  bottom: 20%;
  left: 5%;
  transition: opacity 0.5s linear;

  opacity: 1;
}

.CryptoDevServiceContent > div:hover h4 {
  opacity: 0;
}

.CryptoDevServiceContent > div > div {
  width: 30%;
  height: 2%;
  background: #ef4c23;
  overflow: hidden;
  z-index: 1;

  position: absolute;
  bottom: 15%;
  left: 5%;
  border-radius: 10px;

  transition: height 0.2s linear 0.3s, width 0.2s linear;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.CryptoDevServiceContent > div > div > p {
  color: white;
  font-size: 16px;

  width: 90%;
  margin: auto;
  opacity: 0;
}

.CryptoDevServiceContent > div:hover div {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.CryptoDevServiceContent > div:hover div > p {
  text-align: justify;
  opacity: 1;
}

.CryptoDevServiceImage {
  width: 45%;
  height: fit-content;
}

.CryptoDevServiceImage > img {
  width: 100%;
}
