.CustomWebSolutionsContainer {
  margin: auto;
  height: 110vh;
  position: relative;
}

.CustomWebSolutionsBackgroundRectangle {
  position: absolute;
  height: 90%;
  width: 100%;
  bottom: 0;
  z-index: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CustomWebSolutionsBackgroundRectangle > img:nth-child(1) {
  align-self: flex-start;
  height: 50%;
  width: 27%;
}

.CustomWebSolutionsBackgroundRectangle > img:nth-child(2) {
  align-self: flex-end;
  height: 50%;
  width: 30%;
}

.CustomWebSolutionsMain {
  width: 90%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.CustomWebSolutionsMain > h1 {
  font-size: 32px;
}

.CustomWebSolutionsMain > h1 > span {
  color: #ef4c23;
}

.CustomWebSolutionsCardsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 85%;
  margin: auto;
}

.CustomWebSolutionsCardsMain {
  background-color: #f5f5f5;
  width: 44%;
  margin-bottom: 2%;
  padding: 2%;

  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.CustomWebSolutionsCardsMain > div {
  height: 70px;
  width: fit-content;
}

.CustomWebSolutionsCardsMain > div > img {
  height: 100%;
}

.CustomWebSolutionsCardsMain > h2 {
  font-size: 25px;
  width: 100%;
  margin: 1% auto;
}

.CustomWebSolutionsCardsMain > p {
  font-size: 18px;
  width: 100%;
  margin: 1% auto;
}

.CustomWebSolutionsHrLine {
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CustomWebSolutionsHrLine > div {
  border: 2px solid #ef4c23;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.CustomWebSolutionsHrLine > span {
  width: 46%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}
