.IOSAppDevelopmentPageCardsMainDiv {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.IOSAppDevelopmentPageCardsInnerMainDiv {
  /* border: 2px solid green; */
  /* background-color: #e992c1 ; */
  height: 100vh;
  background-image: url("/Images/iosappdevelopmentphotos/Rectangle1.png");

  flex-direction: row;
  display: flex;
  position: absolute;
  z-index: 0;
}
.IOSAppDevelopmentPageCardsInnerMainDivcontain {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 2%;
  /* width: 40%; */
}

.IOSAppDevelopmentPageCardsInnerMainDivcontain h1 {
  font-size: 40px;
}

.IOSAppDevelopmentPageCardsInnerMainDivcontain p {
  font-size: 16px;
  margin-top: 1%;
}
.IOSAppDevelopmentPageCardsInnerMainDivimage {
  /* border: 2px solid  blue; */
  margin-right: 3%;

  margin-top: 3%;
}

.IOSAppDevelopmentPageCardsInnerMainDiv2 {
  /* border: 2px solid blue; */
  flex-direction: column;
  display: flex;
  width: 94%;
  height: 110vh;
  margin-left: 3%;
  background-image: url("/Images/iosappdevelopmentphotos/Rectangle5.png");
  padding-top: 5%;
  position: relative;
  z-index: 2;
  margin-top: 37%;
}
.innermaindiv2 {
  /* border: 2px solid green; */
  flex-direction: row;
  display: flex;
  margin-top: 2%;
  padding-left: 6%;
}
.innermaindiv2box {
  /* border: 2px solid red; */
  width: 28%;
  height: 38vh;
  margin-left: 2%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  padding-left: 2%;
}

.innermaindiv2box:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: #EF4C23;
  color: white; */
}

.mainbox {
  /* border: 1px solid lightgrey; */
  width: 50px;
  height: 50px;
  object-fit: cover;
  background-size: cover;
  border-radius: 10px;
  margin-left: 2%;
  margin-top: 3%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.mainboximg {
  width: 100%;
  height: 100%;
  color: white;
}

.IOSAppDevelopmentPageCardsInnerMainDiv3 {
  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
  height: 100vh;
  padding-top: 7%;
  background-image: url("/Images/iosappdevelopmentphotos/Rectangle 3.png");
  /* position: absolute; */
  /* z-index: 1; */
  /* top: 15%; */
}

.innermaindiv3Contain {
  /* border: 2px solid yellow; */
  margin-top: 6%;
  margin-left: 4%;
  margin-right: 2%;
  width: 50%;
}

.innermaindiv3Contain h1 {
  font-size: 40px;
}

.innermaindiv3Contain p {
  font-size: 16px;
  margin-top: 2%;
}
.innermaindiv3Image {
  border: 10px solid white;
  height: 600px;
  object-fit: cover;
  background-size: cover;
  /* margin-right: 5%; */
  /* width: 40%; */
  margin-left: 6%;
}
.innermaindiv3Imagemain {
  height: 100%;
}

.IOSAppDevelopmentPageCardsInnerMainDiv4 {
  display: flex;
  flex-direction: row;
  /* border: 2px solid blue; */
  height: 65vh;
}

.innermaindiv5BoxDiv {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  background-image: url("/Images/iosappdevelopmentphotos/Rectangle 2.png");
  /* width: 90%; */
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 5px;
}

.innermaindiv4-boxdiv1stcolum {
  display: flex;
  flex-direction: row;
  /* border: 2px solid black; */
  padding-left: 4%;
  padding-right: 4%;
  /* padding-bottom: 4%; */
  /* padding-top: 4%; */
}
.innermaindiv4Row {
  justify-content: center;
  /* text-align: center; */
  /* border: 2px solid red; */
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: 2%;
  /* margin-right: 2%; */
  margin-top: 2%;
  padding-top: 1%;
  padding-left: 3%;
  border-radius: 10px;
  padding-right: 3%;
  margin-bottom: 2%;
}

.innermaindiv4Row:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.IOSAppDevelopmentPageCardsInnermaindiv5 {
  /* border: 2px solid greenyellow; */
  background-image: url("/Images/iosappdevelopmentphotos/Rectangle 4.png");
  /* height: 120vh; */
}
.innermaindiv4Row h4 {
  margin-top: 4%;
  font-size: 25px;
}
.innermaindiv4Row p {
  margin-top: 4%;
  font-size: 16px;
}
.div5logoimg {
  /* border: 2px solid green; */
  width: 55px;
  height: 55px;
}
.div5logoimg img {
  width: 100%;
  height: 100%;
}

.IOSAppDevelopmentPageCardsInnermaindiv5 h2 {
  font-size: 40px;
  margin-left: 3%;
  margin-top: 4%;
  margin-right: 10%;
}
.innermaindiv2box h3 {
  margin-top: 3%;
}

.iosinnermaindiv42nddiv {
  border-left: 2px solid gray;
  width: 60%;
  margin-left: 2%;
  margin-top: 4%;
  padding-left: 3%;
}
.iosinnermaindiv42nddiv h1 {
  font-size: 40px;
}
.iosinnermaindiv42nddiv p {
  font-size: 16px;
  margin-top: 3%;
}

.iosapplogo {
  /* border: 2px solid pink ; */
  width: 62%;
  height: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.iosapplogoimg {
  width: 90%;
  height: 100%;
}

.ios1stdivbox {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 3%;
  /* width: 45%; */
}

.iosinnermaindiv41stdivbox {
  display: flex;
  flex-direction: row;
  /* border: 2px solid green ; */
  /* margin-top: 7%; */
  /* width: 100%; */
  /* margin-left: 12%; */
}
.iosinnermaindiv41stdivbox h3 {
  font-size: 18px;
  margin-left: 10%;
}
.iosinnermaindiv41stdivbox p {
  font-size: 14px;
  /* margin-top: 10%; */
  margin-left: 10%;
}

.iosinnermaindiv41stdiv {
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
  margin-left: 1%;
  width: 40%;
  margin-top: 3%;
}

.iosCardsInnermaindiv4 {
  display: flex;
  flex-direction: row;
  /* border: 2px solid blue; */
  height: 55vh;
}
