.andriodUserCentricMainDiv{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
.andriodUserCentricIconContainer{
    /* border: 2px solid red; */
    width: 48%;
    margin-left: 4%;
    border-right: 1px solid black;
}
.andriodUserCentricContent{
    /* border: 2px solid red; */
    width: 48%;
}
.andriodUserCentricContentHeading{
    /* border: 2px solid red; */
    margin-top: 8%;
    margin-left: 5%;
}
.andriodUserCentricContentText{
    margin-top: 3%;
    margin-left: 5%;
    width: 80%;
    /* border: 2px solid red; */
}
.andriodUserCentricIconOuterBox{
    /* border: 2px solid red; */
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}
.andriodUserCentricContainerDiv{
    /* border: 2px solid green; */
    width: 45%;
    display: flex;
    flex-direction:row;
    margin-left: 4%;
}

.andriodUserCentricIcon{
    width: 70px;
    height: 70px;
    margin-top: 5%;
    /* border: 2px solid blue; */
}
.andriodUserCentricIcon>img{
    width: 100%;
    height: 100%;
}
.andriodUserCentricIconHeading{
    width: 75%;
    /* border: 2px solid salmon; */
    padding-top: 4%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
}
