.kotlinCardsMainDiv {
  /* border: 2px solid red; */
  width: 100%;
  height: 100vh;
  background-image: url("/Images/Kotlin/Component 64.png");
  object-fit: cover;
  background-size: cover;
  margin-bottom: 9%;
}
.kotlinCardsContainer {
  /* border: 2px solid red; */
  width: 95%;
  /* height: 65vh; */
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1%;
}
.kotlinCardsBox {
  /* border: 2px solid red; */
  width: 100%;
  /* height: 32vh; */
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
.kotlinCardSaving {
  /* border: 2px solid gold; */
  width: 30%;
  /* height: 32vh; */
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
  margin-left: 3%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.kotlinCardSaving:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  transform: scale(1.1);
  /* transform: translateY(-15px); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ef4c23;
  color: white;
}

.kotlinCardSavingImage {
  /* border: 2px solid red; */
  width: 60px;
  height: 60px;
  margin: 2%;
}

/* .kotlinCardSavingImage:hover {
  color: white;
  filter: invert(0.7);
} */
