.AgencyNeedCrmmaindiv{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 5%;


}
.AgencyNeedCrmimage{
    /* border: 2px solid green; */
    width: 100%;
    height: 260px;

}
.AgencyNeedCrmimage img{
    width: 100%;
    height: 100%;

}
.AgencyNeedCrmcontain{
    /* border: 2px solid pink; */
    margin-left: 2%;
    text-align: justify;
}