.IOTBuilds-container {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.IOTBuilds-container > h1 {
  font-size: 32px;
  margin-bottom: 1%;
}

.IOTBuilds-main {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.IOTBuilds-main > div {
  width: 23%;
  height: 100%;
  margin-top: 1%;

  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 200ms linear;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.IOTBuilds-main > div > h3 {
  font-size: 18px;
  text-align: center;
  margin: auto;
}

.IOTBuilds-main > div:hover {
  background: rgb(237, 9, 38);
  color: white;
  transform: scale(110%) translateY(-10%);
}
