.xamarinSolutionsMainDiv{
    /* border: 2px solid red; */
    width: 100%;
    /* height: 80vh; */
    background-color: #F5F5F5;
    text-align: center;
    margin-top: 2%;
}
.xamarinSolutionsHeading{
    /* border: 2px solid red; */
    width: 75%;
    margin: auto;
}
.xamarinSolutionsImage{
    /* border: 2px solid red; */
    width: 85%;
    margin: auto;
    position: relative;
}
.xamarinSolutionsImage>img{
    width: 100%;
    height:80%;
}
.xamarinSolutions1{
    position: absolute;
    /* border: 2px solid red; */
    width: 4%;
    top: 24%;
    left: 4.5%;
}
.xamarinSolutions1text{
    position: absolute;
    top: 30%;
    left: 15%;
}
.xamarinSolutions2{
    position: absolute;
    /* border: 2px solid red; */
    width: 4%;
    top: 68%;
    left: 3.5%;
}
.xamarinSolutions2text{
    position: absolute;
    top: 75%;
    left: 13.5%;
}
.xamarinSolutions3{
    position: absolute;
    /* border: 2px solid red; */
    width: 4%;
    top: 23.5%;
    left: 91.8%;
}
.xamarinSolutions3text{
    position: absolute;
    top: 30%;
    left: 66.5%;
}
.xamarinSolutions4{
    position: absolute;
    /* border: 2px solid red; */
    width: 4.5%;
    top: 67.5%;
    left: 92.5%;
}
.xamarinSolutions4text{
    position: absolute;
    top: 75%;
    left: 68%;
}