.newReactNativeAppDevelopmentmaindiv {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 2%;
}
.cardheading {
  /* border: 2px solid red; */
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-left: 20%;
}
.cardheading h1 {
  font-size: 32px;
}
.cardheading p {
  font-size: 18px;
  margin-top: 1%;
}
.headReactNativeAppDevelopment {
  /* border: 2px solid orangered; */
  margin-left: 8%;
  margin-right: 4%;
  margin-top: 3%;
}
.headReactNativeAppDevelopment h4 {
  font-size: 30px;
  font-weight: 550;
  color: #393939;
}
.newReactNativeAppDevelopmentdivdiv2Firststcontaindiv {
  /* border: 2px  solid purple; */
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
.stcontaindivContainreact {
  /* border: 2px solid red; */
  justify-content: center;
  text-align: left;
  width: 60%;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  /* margin-left: 2%; */
}
.stcontaindivContainreact1 {
  /* border: 2px solid red; */
  justify-content: center;
  text-align: left;
  width: 60%;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
}
.stcontaindivContainreact p {
  font-size: 18px;
  margin-top: 3%;
}

.imagsectionreact {
  /* border: 2px solid darkviolet; */
  width: 35%;
  object-fit: cover;
  background-size: cover;
}
.imagsectionreact1 {
  /* border: 2px solid darkviolet; */
  width: 35%;
  object-fit: cover;
  background-size: cover;
  margin-left: 2%;
}
.imagsectionr1 {
  /* border: 2px solid yellow; */
  width: 100%;
  height: 100%;
}
