.IOTwhyBFContainer {
  margin: auto;
  height: 145vh;
  position: relative;
  margin-top: 1%;
}

.IOTwhyBFBackgroundRectangle {
  /* position: absolute; */
  height: 90%;
  width: 100%;
  bottom: 0;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.IOTwhyBFBackgroundRectangle > img:nth-child(1) {
  align-self: flex-start;
  height: 45%;
  width: 40%;
}

.IOTwhyBFBackgroundRectangle > img:nth-child(2) {
  align-self: flex-end;
  height: 45%;
  width: 40%;
}

.IOTwhyBFMain {
  width: 90%;
  margin: 1% auto;
  position: absolute;
  top: 5%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.IOTBFMainHeading{
  /* border: 3px solid red; */
  position: absolute;
  z-index: 10;
  margin-top: -4.5%;
}

.IOTwhyBFCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  position: absolute;
  /* top: 0%; */
}

.IOTwhyBFCardsMain {
  background-color: #f5f5f5;
  width: 44%;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 2%;
}

.IOTwhyBFCardsMain > div {
  height: 60px;
  width: fit-content;
}

.IOTwhyBFCardsMain > div > img {
  height: 100%;
}

.IOTwhyBFCardsMain > h3 {
  font-size: 18px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.IOTwhyBFCardsMain > p {
  font-size: 16px;
  text-align: justify;
  margin-top: 3%;
}
