._Seoblogs12 {
  padding: 30px;
  width: 100%;

  margin: 20px auto;
}
._Seoblogs12 > h2 {
  text-align: center;
  color:#ef4c23 ;
  margin: 0;
  padding: 30px;
}
._Seoblogs {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

._Seoblogs > h2 {
  text-align: center;
  color: #ef4c23;
}
._SeoBlogsStories {
  width: 700px;
}

._Seoblogs1 {
  /* border:1px solid #ef4c23; */
  /* background-color: #ef4c23; */
  border-radius: 10px;
  width: 23%;
  box-shadow: 0px 0px 30px 2px rgb(236 234 234);
  box-sizing: border-box;
}
._Seoblogs1:hover {
  transition: all .3s linear;
  transform: scale(1.02);
  /* box-shadow: 0px 1px 1px 1px rgb(210, 207, 207); */
  box-shadow: 1px 1px 30px 2px rgb(236 234 234);
}

._Seoblogsimage > img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  transform: scale(1);
}
._Seoblogsimage {
  width: 100%;
  height: 270px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

._Seoblogstext {
 padding: 10px;
}
._Seoblogstext p:nth-child(1) {
 font-weight: 500;
 color: #393939;

 margin: 0;
 margin-bottom: 10px;

}
._Seoblogstext p:nth-child(2) {
 font-size: 15px;
 margin: 0;
}
