.CryptoDevcurrencyContainer {
  width: 90%;
  margin: 2% auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CryptoDevcurrencyMain {
  width: 45%;
}

.CryptoDevcurrencyMain > h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 1%;
}

.CryptoDevcurrencyMain > p {
  font-size: 16px;
}

.CryptoDevcurrencyImagesContainer {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CryptoDevcurrencyImagesContainer > div {
  width: 45%;
  height: fit-content;
  text-align: center;
}

.CryptoDevcurrencyImagesContainer > div > h2 {
  font-size: 20px;
  margin: 0;
  margin-top: 1%;
}

.CryptoDevcurrencyImagesContainer > div > img {
  width: 50%;
}

.CryptoDevcurrencyHrLine {
  width: 30%;
  margin: 1% 0 1% 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CryptoDevcurrencyHrLine > div {
  border: 2px solid #ef4c23;
  width: 15px;
  height: 15px;
  border-radius: 20px;
}

.CryptoDevcurrencyHrLine > span {
  width: 43%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}
