.usercentricMaindiv {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
.usercentricContain {
  /* border: 2px solid green; */
  text-align: center;
  justify-content: center;
  width: 75%;
  margin-left: 12%;
}
.userCentricSticker {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  width: 82%;
  margin-left: 6%;
  margin-top: 3%;
  justify-content: center;
}

.wearablelogos {
  margin-left: 5.6%;
  /* border: 2px solid red; */
  width: 10%;
  /* justify-content: center; */
}

.wearablelogos h4 {
  margin-top: 10%;
}
.wearablelogosDiv {
  width: 100%;
}
.userCentricStickercolum {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  /* justify-content: center; */
}
.UsercentricStickercolumHeading {
  display: flex;
  flex-direction: row;
  /* border: 2px solid blue; */
  margin-left: 6%;
  /* margin-top: 1%; */
  /* justify-content: center; */
  /* width: 80%; */
}
.UsercentricStickercolumHeadingDiv {
  /* border: 2px solid yellow; */
  margin-left: 3.7%;
  width: 9%;
  text-align: center;
}
.UsercentricStickercolumHeadingDiv1 {
  /* border: 2px solid yellow; */
  margin-left: 3.3%;
  width: 9%;
  text-align: center;
}
