.MLForm-container {
  margin-bottom: 2%;
  margin-top: 2%;
}

.MLForm-stats {
  z-index: 1;
  text-align: center;
  padding: 2% 2% 5%;
  color: white;
  background: linear-gradient(to Right, #ef4c23 40%, #fd5f03);
}

.MLForm-stats > h1 {
  font-size: 35px;
}

.MLForm-stats > div {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.MLForm-stats > div > div > h1 {
  font-size: 30px;
  margin-bottom: 1%;
}

.MLForm-stats > div > div > h3 {
  font-size: 18px;
  background-color: white;
  color: #393939;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 1%;
}

.MLForm-main {
  width: 80%;
  height: 600px;
  margin: auto;
  margin-top: -4%;
  z-index: 2;
  background: #f3f3f3;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MLForm-feature-main {
  width: 50%;
  height: 100%;
  padding: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MLForm-feature-main > h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 1%;
}

.MLForm-feature-main > ul {
  width: 80%;
  margin: auto;
  padding: 8%;
  padding-top: 1%;
}

.MLForm-feature-main > ul > li {
  font-size: 16px;
}

.MLForm-form-outer-main {
  width: 50%;
  height: 100%;
  padding: 3%;
  background: linear-gradient(to Top, #ef4c23 40%, #fd5f03);
}

.MLForm-form-outer-main > h1 {
  margin-bottom: 2%;
  font-size: 35px;
  color: #f5f5f5;
  text-align: center;
}

.MLForm-formSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1%;
  row-gap: 30px;
  color: #f5f5f5;
}

.MLForm-inputWithIcon {
  box-sizing: border-box;
  width: 47%;
  display: flex;
  align-items: center;
  column-gap: 1%;
  border-bottom: 2px solid #d0d0d0;
}

.MLForm-inputPart {
  box-sizing: border-box;
  border: none;
  color: #f5f5f5;

  background: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}

.MLForm-inputPart::placeholder {
  color: #f5f5f5;

  font-weight: 600;
}

.MLForm-phoneNumber {
  width: 30%;
  box-sizing: border-box;
  box-sizing: border-box;
  color: #f5f5f5;
  margin-left: -5%;

  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 2px solid #d0d0d0;
}

.MLForm-phoneNumber::placeholder {
  color: #f5f5f5;

  font-weight: 600;
}

.MLForm-messagePart {
  width: 100%;
  box-sizing: border-box;
  border: none;
  color: #f5f5f5;

  background: none;

  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 2px solid #d0d0d0;
}

.MLForm-messagePart::placeholder {
  font-weight: 600;
  color: #f5f5f5;
}

.MLForm-phoneClass {
  width: 15%;
  font-size: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d0d0d0;
}

.MLForm-countryCode {
  width: 90%;
  box-sizing: border-box;
  font-size: 14px;
  background: none;
  padding: 10px 0;
  font-weight: 600;
  color: #f5f5f5;

  outline: none;
  border: none;
}

.MLForm-countryCode > option {
  color: #393939;
}

.MLForm-selectClass {
  width: 47%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d0d0d0;
  color: #f5f5f5;
}

.MLForm-selectPart {
  width: 90%;
  box-sizing: border-box;
  font-size: 16px;
  /* color: rgb(125, 118, 118); */
  background: none;
  outline: none;
  border: none;
  font-weight: 600;
  color: #f5f5f5;
}

.MLForm-selectPart > option {
  color: #393939;
}

.MLForm-textareaClass {
  width: 100%;
  color: #f5f5f5;
}

.MLForm-formMessageIcon {
  margin-right: 5px;
  color: #f5f5f5;
}

.MLForm-textareaClass > label {
  color: #f5f5f5;

  font-weight: 600;
}

.MLForm-robotCaptcha {
  display: flex;
  justify-content: center;
}

.MLForm-robotCaptcha button {
  padding: 10px 60px;
  font-size: 18px;
  background-color: white;
  border-radius: 50px;
  color: #fd5f03;
  font-weight: 600;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.MLForm-robotCaptcha button:hover {
  background-color: #fd5f03;
  color: white;
}
