.wearablebannermainbox {
  height: 100vh;
  width: 100%;
  background-position: right;
  display: flex;
  flex-direction: row;
}

.wearablebannermainboxinnertextdiv {
  height: 50%;
  width: 37%;
  /* border: 2px solid red; */

  margin-top: 18%;
  margin-left: 3%;
  /* padding-top: 10.5%; */
  /* text-align: center; */
}
.wearablebannermainboxImage {
  /* border: 2px solid red; */
  width: 35%;
  margin-left: 10%;
  margin-top: 6%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.wearablebannermainboxinnertextdiv > h1 {
  color: black;
  font-size: 40px;
  /* margin-left: %; */
  /* font-weight: 600; */
}
.wearablebannermainboxinnertextdiv > p {
  color: black;
  margin-top: 7%;
  font-size: 18px;
  /* font-weight: 500; */
}

.wearablebannerbutton {
  padding: 10px 50px;
  border-radius: 10px;
  width: 220px;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 35px;
  /* border: 2px solid green; */
}

.wearablebannerbutton:hover {
  background-color: white;
  color: #3380f2;
}
.wearablebannermainboxImage img {
  width: 100%;
}
