.ondemandSection > h1 {
  text-align: center;
  color: #ef4c23;
  padding: 20px;
}
.mainOndemand {
  width: 100%;
  /* height: 500px; */
  display: flex;
  justify-content: center;
  column-gap: 1%;
  row-gap: 12px;
  padding: 40px 4px;
  flex-wrap: wrap;
}

.ondemandInner {
  width: 18.4%;
  height: 350px;
  /* box-shadow: 0px 0px 30px 2px rgb(236 234 234); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  position: relative;
  margin-top: 8px;
  overflow: hidden;
}
.ondemandInner:hover {
  /* transform: scaleY(1.02); */
  margin: 0;
  /* height: 350px; */
  transition: all 0.2s linear;
}
.solImage {
  width: 100%;
  display: block;

  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}


.ondemandInner:hover .solImage {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
  filter: brightness(0.4);
}
.ondemandInner:hover .solText {
  color: white;
}
.solText {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  color: white;
  padding: 20px;
}
.solText > h4 {
  color: white;
  margin: 20px 0;
}

.solLogos{
  width: 80px;
  height: 80px;
  /* background-color: green; */
  margin: auto;
}



.orangeImage{
  width: 100%;
  display: none;
  height: 100%;
  object-fit: contain;
}
.whiteImage{
  width: 100%;
  display: block;
  height: 100%;
  object-fit: contain;
}

.ondemandInner:hover .orangeImage {
  display: block;
}
.ondemandInner:hover .whiteImage {
  display: none;
 
}



.solutionIcon {
  font-size: 60px;
  color: #ef4c23;

}
.arrowIcon {
  font-size: 40px;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 8px;
  right: 210px;
}

.ondemandInner:hover .arrowIcon {
    bottom: 8px;
    right: 20px;
    color: #ef4c23;
    transition: all 2s linear;
}
.ondemandInner:hover .solutionIcon {
    color: #ef4c23;
}
.ondemandInner:hover .solText>h4 {
    color: #ef4c23;
}
.ondemandInner:hover .solText{
    color: black;
}

