._SeoFaqheading{
    /* border:1px solid red; */
    color:#393939;
    width:100%;
    margin: auto;
    
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
._Seofaq1{
    /* border:1px solid rebeccapurple; */
    /* margin-top: 100px; */
    width:100%;
    margin:auto;
    color: #EF4C23;
    border-radius: 50px;
    box-shadow: 3px 3px 50px rgb(0 0 0 / 15%);
}
._Seofaq2{
    /* border:1px solid green; */
    color: #393939;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}
/* ._Seoheader{
    border:1px solid #EF4C23
} */

.seofaqs{
    width: 90%;
    margin: auto;
    padding: 30px 20px;
    box-sizing: border-box;
}