.portfolioSection {
  width: 100%;
  height: 800px;
  /* background-color: violet; */
}
.portfolioSection > h1 {
  color: #ef4c23;
  text-align: center;
  margin-bottom: 0;
}

.mainSlide {
  width: 100%;
  height: 706px;
  border: none !important;
  /* height: 800px; */
  border: 2px solid black;
  position: relative;
}
.activeMainSlide {
  width: 100%;
  height: 706px;

  /* height: 800px; */
  /* background-color: green; */
  /* border: 2px solid black; */
  position: relative;
}
.mainSlide div:nth-child(1) {
  width: 75%;
  height: 85%;
  transform: translate(-50%, -50%);
  top: 49%;
  left: 38%;
  /* background-color: aquamarine; */
  position: absolute;
  border-radius: 15px;
  /* opacity: 0%; */
}
.mainSlide div:nth-child(1) > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.activeMainSlide div:nth-child(1) {
  /* background-color: blue; */
  left: 38%;
  top: 49%;
  opacity: 100%;
  transition: 4s;
}

.mainSlide div:nth-child(2) {
  position: absolute;
  border-radius: 10px;
  width: 52%;
  transform: translate(50%, -50%);
  top: 59.5%;
  right: -53%;
  height: 74%;
}
.mainSlide div:nth-child(2) > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.activeMainSlide div:nth-child(2) {
  right: 27%;
  transition: 3s;
  height: 74%;
  top: 49.5%;
}

.portfolioText {
  width: 60%;
  height: 530px;
  position: absolute;
  top: 70px;
  left: 30px;
  border-radius: 10px;
  /* background-color: blueviolet; */
  padding: 10px;
  color: white;
}
.portfolioText > h1 {
  color: white;
}
.portfolioText > p {
  font-size: 15px;
}

.bottomfunnelBranding {
  width: 230px;
  height: 150px;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
}
.bottomfunnelBranding > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.weblinks {
  width: 100%;
  /* background-color: green; */
  height: 100px;
  /* text-align: center; */
}

.techstack {
  text-align: left;
  width: 100%;
  margin-top: 10px;
  height: 100%;
}
.techstack > p {
  margin: 5px;
}
.appstore {
  width: 70%;
  margin-top: 20px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.appstore > span {
  width: 21%;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}
.webIcon {
  cursor: pointer;
  font-size: 30px;
  color: white;
  transition: transform 0.5s ease-in-out;
}
.webIcon:hover {
  transform: scale(1.1);
}
.appstore > span > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tagline {
  position: absolute;
  bottom: 25px;
  font-family: cursive;
  left: 68px;
}

.casestudy {
  position: absolute;
  bottom: 25%;
  font-size: 18px;
  background: none;
  border: none;
  color: white;
  left: 45%;
  padding: 10px 60px;
  border-radius: 25px;
  font-weight: 600;
}
.casestudyIcon {
  font-size: 30px;
  margin-left: 0;
}

.casestudy:hover .casestudyIcon {
  margin-left: 7px;
  transition: all 0.3s linear;
}
