.NFTSolutionsContainer {
  width: 90%;
  margin: 1% auto;
}

.NFTSolutionsContainer > h1 {
  font-size: 32px;
  margin: 1% auto;
}

.NFTSoluitonsMain {
  width: 90%;
  margin: 1% auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.NFTSolutionsContainer > h1 {
  font-size: 32px;
  margin: 1% auto;
}

.NFTSolutionsContainer > h1 > span {
  color: #ef4c23;
}

.NFTSoluitonsMain > div {
  width: 44%;
  margin-bottom: 2%;
  padding: 2%;

  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.NFTSoluitonsMain > div > h2 {
  font-size: 25px;
  margin: 1% auto;
}

.NFTSoluitonsMain > div > p {
  font-size: 16px;
  margin: 1% auto;
  text-align: justify;
}

.NFTSoluitonsMain > div > div {
  height: 80px;
}

.NFTSoluitonsMain > div > div > img {
  height: 100%;
}
