.BlockChainBenefitsAccordion-container {
  height: 650px;

  display: flex;
  justify-content: space-between;
}

.BlockChainBenefitsAccordion-main {
  width: 45%;
  height: 85%;
  background-color: #f5f5f5;
  padding: 2%;
  color: #393939;
  text-align: left;
}

.BlockChainBenefitsAccordion-main > h1 {
  font-size: 32px;
}

.BlockChainBenefitsAccordion-main > p {
  font-size: 16px;
  text-align: justify;
}

.BlockChainBenefitsAccordion-accordion-container {
  width: 50%;
  height: 90%;
  padding: 2%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#BlockChainBenefitsAccordion-accordion-main {
  color: white;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  border: 2px solid white;
}

.BlockChainBenefitsAccordion-accordion-h3 {
  width: 100%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
  background-color: transparent;
}
