.StartupSolutionsBannerMain {
  height: 100vh;
  padding-left: 5%;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/public/Images/startupSolPhotos/banner.png");
  background-size: 110%;
  background-position: top;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.StartupSolutionsBannerMain > h1 {
  font-size: 40px;
  width: 65%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-bottom: 1%;

  color: #f5f5f5;
}

.StartupSolutionsBannerMain > h1 > span {
  color: #ef4c23;
}

.StartupSolutionsBannerMain > p {
  font-size: 20px;
  width: 70%;
  margin-bottom: 1%;
  margin-top: 1%;

  color: #f5f5f5;
}

.StartupSolutionsBannerMain > button {
  font-size: 20px;
  font-weight: 600;
  height: fit-content;
  width: fit-content;
  margin-top: 1%;

  background-color: #f5f5f5;
  color: #ef4c23;
  padding: 10px 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.StartupSolutionsBannerMain > button:hover {
  color: #f5f5f5;
  background-color: #ef4c23;
}

.StartupSolutionsBannerHrLine {
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StartupSolutionsBannerHrLine > div {
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.StartupSolutionsBannerHrLine > span {
  width: 46%;
  height: 2px;
  background-color: #fff;
  color: #fff;
}
