.whyChooseKotlinMainDiv {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  flex-direction: row;
}
.whyChooseKotlinIconContainer {
  /* border: 2px solid red; */
  width: 48%;
  margin-left: 4%;
  border-right: 1px solid black;
}
.whyChooseKotlinContent {
  /* border: 2px solid red; */
  width: 48%;
}
.whyChooseKotlinContentHeading {
  /* border: 2px solid red; */
  margin-top: 8%;
  margin-left: 5%;
}
.whyChooseKotlinContentText {
  margin-top: 3%;
  margin-left: 5%;
  width: 80%;
  /* border: 2px solid red; */
}
.whyChooseKotlinIconOuterBox {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.whyChooseKotlinContainerDiv {
  /* border: 2px solid green; */
  width: 45%;
  display: flex;
  flex-direction: row;
  margin-left: 4%;
}

.whyChooseKotlinContainerDiv:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.whyChooseKotlinIcon {
  width: 25%;
  margin-top: 5%;
  /* border: 2px solid blue; */
}
.whyChooseKotlinIcon img {
  width: 60px;
  height: 60px;
}
.whyChooseKotlinIconHeading {
  width: 75%;
  /* border: 2px solid salmon; */
  padding-top: 4%;
  display: flex;
  flex-direction: column;
}
