.NFTAboutItContainer {
  width: 90%;
  margin: 2% auto;
}

.NFTAboutItContainer > h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 1%;
}

.NFTAboutItContainer > p {
  font-size: 16px;
  text-align: justify;
  margin-top: 1%;
}

.NFTAboutItHrLine {
  width: 25%;
  margin: 1% 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NFTAboutItHrLine > div {
  border: 2px solid #ef4c23;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.NFTAboutItHrLine > span {
  width: 44%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}
