.xamarinMobileDevelopmentMainDiv{
    /* border: 2px solid red; */
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
}
.xamarinMobileDevelopmentContentText{
    /* border: 2px solid red; */
    width: 60%;
    margin-left: 5%;
    margin-top: 10%;
}

.xamarinMobileDevelopmentContentImage{
    /* border: 2px solid red; */
    width: 30%;
    height: 70vh;
    object-fit: cover;
    background-size: cover;
    margin-left: 3%;
}
.xamarinMobileDevelopmentContentImage img{
    width: 100%;
    height: 100%;
}