.mobileDevMainbannermainbox {
  height: 100vh;
  width: 99%;
  border: 1px solid white;
  /* margin-top: 120px; */
  position: relative;
}

.mobileDevMainBannerAnimationDiv{
  position: absolute;
}
.mobileDevMainBannerAnimationDiv > img{
  /* border: 1px solid red; */
  width: 100%;
  object-fit: contain;
}

.mobileDevMainbannermainboxinnertextdiv {
  /* height: 50%; */
  width: 37%;
  margin-top: 15%;
  margin-left: 3%;
  text-align: left;
  /* border: 2px solid red; */
  position: absolute;
}

.mobileDevHeading {
  color: #ef4c23;
}

.mobileDevMainbannerbutton {
  padding: 10px 50px;
  border-radius: 10px;
  width: 220px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  /* color: #EF4C23; */
}

.mobileDevMainbannerbutton:hover {
  background-color: white;
  color: #3380f2;
}
