.whytechData {
  width: 100%;
  /* height: 500px; */
  /* background-color: green; */
  padding: 20px;
}
.techHeader {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 20px;
}
.techHeader span {
  color: #ef4c23;
}

.whyTechFeaturesCard {
  width: 80%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  column-gap: 40px;
  row-gap: 40px;
  flex-wrap: wrap;
  margin: auto;
}

.whyTechFeaturesCard-box {
  width: 30%;
  /* background-color: red; */
  padding: 30px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.whyTechFeaturesCard-box:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
