.ReactNativeAppDevelopmentContain {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
.ReactNativeAppDevelopmentContainHeading {
  /* border: 2px solid yellow; */
  justify-content: left;
  width: 60%;
  padding-left: 3%;
}
.ReactNativeAppDevelopmentContainHeading h1 {
  font-size: 40px;
}
.ReactNativeAppDevelopmentContainHeading p {
  font-size: 18px;
  margin-top: 3%;
}

.ReactNativeAppDevelopmentContain-image {
  /* border: 2px solid green; */
  width: 40%;
}
