.skillswhyapplicationmain > h1 {
  color: #ef4c23;
  width: 85%;
  margin: auto;
  margin-bottom: 10px;
  font-size: 32px;
}

.skillswhyapplicationcontent {
  max-width: 85%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.skillswhyapplicationcontent > div {
  width: 30%;
  text-align: left;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.skillswhyapplicationcontent > div > h3 {
  margin-bottom: 0px;
  font-size: 18px;
}

.skillswhyapplicationcontent > div > p {
  margin-top: 0px;
  font-size: 16px;
}

.skillswhyapplcardsimagesdiv {
  height: 50px;
}

.skillswhyapplcardsimagesdiv > img {
  height: 100%;
}

/* Media Query for Mobile Devices */

@media (max-width: 480px) {
  .skillswhyapplicationmain > h1 {
    font-size: 20px;
    width: 95%;
  }

  .skillswhyapplicationcontent {
    width: 95%;
  }

  .skillswhyapplicationcontent > div {
    display: block;
    width: 100%;
  }

  .skillswhyapplicationcontent > div > h3 {
    font-size: 13px;
  }

  .skillswhyapplicationcontent > div > p {
    font-size: 10px;
  }

  .skillswhyapplcardsimagesdiv {
    height: 30px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */

@media (min-width: 481px) and (max-width: 1024px) {
  .skillswhyapplicationcontent {
    width: 95%;
  }

  .skillswhyapplicationcontent > div {
    display: block;
    width: 48%;
  }
}
