.CryptoDevApproachContainer {
  background-color: #f5f5f5;
  margin: 2% auto 0;
  padding: 2%;
}

.CryptoDevApproachContainer > h1 {
  font-size: 32px;
  margin: 0 auto 1%;
  width: 90%;
}

.CryptoDevApproachContainer > p {
  font-size: 16px;

  width: 90%;
  margin: 1% auto;
}

.CryptoDevApproachMain {
  background-color: white;
  width: 90%;
  margin: 2% auto;
  padding: 1%;
}

.CryptoDevApproachMainUpper {
  width: 100%;
  margin-top: 2%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CryptoDevApproachMainLower {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.CryptoDevApproachUppercards {
  width: 22%;
  margin-bottom: -1.5%;

  text-align: center;

  z-index: 1;
  position: relative;
}

.CryptoDevApproachLowercards {
  width: 22%;
  height: 250px;
  text-align: center;
  margin-top: -2%;

  z-index: 1;
  position: relative;
}

.CryptoDevApproachUppercards > h2,
.CryptoDevApproachLowercards > h2 {
  font-size: 25px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.CryptoDevApproachUppercards > p,
.CryptoDevApproachLowercards > p {
  font-size: 16px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.CryptoDevApproachUppercards > h3,
.CryptoDevApproachLowercards > h3 {
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 2%;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 50px;
  border: 2px solid gray;
  color: gray;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.CryptoDevApproachUppercards > div,
.CryptoDevApproachLowercards > div {
  height: 80px;
}

.CryptoDevApproachUppercards > div > img,
.CryptoDevApproachLowercards > div > img {
  height: 100%;
}

.CryptoDevApproachHrLine {
  width: 30%;
  margin: 1% 0 1% 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CryptoDevApproachHrLine > div {
  border: 2px solid #ef4c23;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.CryptoDevApproachHrLine > span {
  width: 45%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}
