.Revenuemaindiv{
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    height: 55vh;
    margin-top: 4%;
}

.Revenuediv{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 4%; */
    width: 90%;
    margin: auto;
}
.Revenueinnerdiv{
    /* border: 2px solid yellow; */
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 25%;
    height: 35vh;
    margin: auto;
    padding-top: 2%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Revenueinnerdiv:hover{
    background-color: #f9a894;
}
.Revenueinnerdivimage{
    /* border: 2px solid red; */
    height: 100px;
    width: 140px;
    margin-left: 30%;
   
}
.Revenueinnerdivimage img{
    height: 100%;
    width: 100%;
 
}
.Revenueinnerdiv h5{
    margin-top: 5%;
}
.Revenuemaindivheading{
    text-align: center;
    margin-top: 2%;
}