.NFTOffersContainer {
  margin: 3% auto;
}

.NFTOffersHeading {
  width: 90%;
  margin: auto;
}

.NFTOffersHeading > h1 {
  font-size: 32px;
  margin: 1% auto;
}

.NFTOffersHeading > h1 > span {
  color: #ef4c23;
}

.NFTOffersHeading > p {
  font-size: 16px;
  margin: 1% auto;
}

.NFTOffersMain {
  background: #fbcec3;
  width: 96%;
  margin: 1% auto;
  padding: 2%;
}
