.mobileDevMainProjectmainbox {
  /* height: 40vh; */
  width: 99%;
  border: 1px solid white;
  margin-top: 2%;
  position: relative;
}

.mobileDevMainProjectBackImage{
  /* border: 2px solid red; */
  object-fit: cover;
  width: 100%;
}

.mobileDevMainProjectBackImage > img{
  width: 100%;
  object-fit: cover;
}


.mobileDevMainProjectmainboxinnertextdiv {
  margin-top: 5%;
  margin-left: 7%;
  text-align: left;
  /* border: 2px solid red; */
  width: 60%;
  /* border: 2px solid black; */
  position: absolute;
  top: 0%;
}

.mobileDevMainProjectmainboxinnertextdiv > h1 {
  color: white;
}
.mobileDevMainProjectmainboxinnertextdiv > p {
  color: white;
  /* border: 2px solid red; */
  /* width: 60%; */
  /* margin: auto; */
}

.mobileDevMainProjectbutton {
  padding: 10px 50px;
  border-radius: 5px;
  width: 220px;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 2%;
  color: white;
}

.mobileDevMainProjectbutton:hover {
  background-color: white;
  color: #3380f2;
}
