.skillsbannermain {
  width: 100%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #f5f5f5;
}

.skillsbannercontent {
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin-top: 50px;
}

.skillsbannercontenth1 {
  font-size: 40px;
  margin: 0px;
}

.skillsbannercontentp {
  width: 90%;
  font-size: 20px;
  margin: 2% auto;
}

.skillsbannermainbutton {
  margin-top: 2%;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border: 2px solid #ef4c34;
  padding: 10px 60px;
  border-radius: 100px;
  cursor: pointer;

  color: #f5f5f5;
  background-color: #ef4c34;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.skillsbannermainbutton:hover {
  background-color: #f5f5f5;
  color: #ef4c34;
}

/* Media Query for Mobile Devices */

@media (max-width: 480px) {
  .skillsbannermain {
    margin-top: 100px;
    height: 25vh;
  }

  .skillsbannercontenth1 {
    font-size: 20px;
  }

  .skillsbannercontentp {
    font-size: 12px;
    width: 95%;
  }

  .skillsbannermainbutton {
    font-size: 12px;
    padding: 5px 20px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */

@media (min-width: 481px) and (max-width: 1024px) {
  .skillsbannermain {
    margin-top: 100px;
    height: 35vh;
  }

  .skillsbannercontenth1 {
    font-size: 30px;
  }

  .skillsbannercontentp {
    font-size: 16px;
    width: 95%;
  }

  .skillsbannermainbutton {
    font-size: 16px;
    padding: 5px 30px;
  }
}
