._SeoMain1 {
  height: auto;
  width: 100%;
  background: url("/public/Images/seopages/seo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  background-origin: border-box;
  position: relative;
  margin-top: 120px;
}

.gifDenote {
  width: 230px;
  height: 400px;
  position: absolute;
  top: 30%;
  right: 34%;
}
.gifDenote > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
._Seoupperdiv {
  display: flex;
  /* border: 1px solid green; */
  width: 100%;
  height:87vh;
  background: none !important;
}
._Seotext {
  /* border:1px solid red; */
  width: 40%;
  color: black;
  box-sizing: border-box;
  margin: auto;
  margin-top: 13%;
  margin-left: 5%;
  /* text-align: center; */
}
._Seoparagraph {
  /* border:1px solid white; */
  color: gray;
  font-weight: 400;
  width: 100%;
  color: black;
  line-height: 1.5;
  font-size: 16px;
}

._Seochkpricing {
  text-align: center;
  background-color: #ef4c23;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  box-sizing: border-box;
  padding: 7px 40px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
._Seochkpricing:hover {
  color: #ef4c23;
  background-color: white;
  cursor: pointer;
  transition: 0.2s linear;
}
