.reactnativeMainDiv{
    /* border: 2px solid red; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: url("/public/Images/wearable/Rectangle 4559-1.png");
    margin-top: 5%;
}
.reactnativeContent{
    width: 40%;
    /* height: 50vh; */
    margin-top: 8%;
    margin-left: 3%;
    /* border: 2px solid blue; */
    color: white;
    display: flex;
    flex-direction: column;
}
.reactnativeContent h5{
    font-size: 32px;
    /* font-weight: 500; */
}
.reactnativeContent p{
    color: white;
    font-size: 18px;
    margin-top: 5%;
}
.reactnativeContentScroller{
    width: 50%;
    /* height: 90vh; */
    /* border: 2px solid black;  */
    margin-top: 3%;
    margin-left: 2%;  
    object-fit: cover;
    
    background-size: cover;
    background-color: white;
    margin-bottom: 3%;
}
.reactnativeContentScrollerDiv{
    width: 95%;
    height: 85vh;
    margin: auto;
    /* border: 2px solid red; */
    background-color: white;
    /* background-image: url("/public/Images/ReactNativeDevelopement/React-icon 3.png"); */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.reactnativeContentScrollerDivContainer{
    /* border: 2px solid black; */
   
    width: 100%;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    justify-content: left;
    text-align: left;
    padding-left: 2%;
    padding-top: 2%;
}
.reactnativeContentData{
    /* border: 2px solid red; */
    width: 100%;
   
   
}
.reactnativeContentIcon{
    width: 10%;
    height: 10vh;
    /* border: 2px solid yellow; */
    
}
.reactnativeContentHeading{
   
    /* border: 2px solid cornflowerblue; */
    margin-top: 2%;
   
}
.reactnativeContentDataText{
    /* border: 2px solid violet; */
    width: 70%;
    /* height: 15vh; */
    margin-left: 16%;
}
.nativeimg{
    width: 90%;
    margin-top: 5%;
    justify-content: center;
    /* text-align: center; */
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}