.footerTable {
  width: 100%;
  display: flex;
  column-gap: 2px;
}
.innerTable {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  color: white;
}
.innerTable p:nth-child(1) {
  margin: 10px 0;
  font-weight: 700;
  font-size: 18px;
}
.innerTable > p {
  margin: 0;
  font-size: 14px;
  color: white;
}
.innerTable > p:hover {
  color: #ef4c23;
  cursor: pointer;
}
