.mainFooterSection {
  width: 100%;
  height: max-content;
  background: #302f2f;
  padding: 15px;
  display: flex;
}
.mainFooterSection li {
  list-style: none;
}

.leftFooter {
  width: 57%;
}
.startWith > h3 {
  color: #ef4c23;
}
.leftFooter > p {
  color: white;
}
.startWith > button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 50px;
  border-radius: 25px;
  margin: auto;
  color: white;
  background-color: #ef4c23;
  /* border: 2px solid #ef4c23; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.startWith > button:hover {
  /* border: 2px solid #ef4c23; */

  background-color: white;
  color: #ef4c23;
}

.footerServices {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.moreServ {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 15px auto;
  cursor: pointer;
  border: 1px solid white;
}

.rightFooter {
  width: 43%;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.mapImageSection {
  width: 100%;
  margin: auto;
  height: 320px;
  position: relative;
}

.newYorkLocation {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 20px;
  height: 20px;
}
.zambiaLocation {
  position: absolute;
  top: 62%;
  left: 54%;
  width: 20px;
  height: 20px;
}
.germanyLocation {
  position: absolute;
  top: 25%;
  left: 49%;
  width: 20px;
  height: 20px;
}
.indiaLocation {
  position: absolute;
  top: 41%;
  left: 67%;
  width: 20px;
  height: 20px;
}
.uaeLocation {
  position: absolute;
  top: 40%;
  left: 62%;
  width: 20px;
  height: 20px;
}

.tooltipCustomised {
  background-color: #ef4c23;
  width: 130px;
  /* height: 80px; */
  box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  color: white;
  margin-top: 3%;
  margin-left: -1.5%;
  position: relative;
}

.tooltipCustomised > p {
  font-size: 10px;
  margin: 0;
}

.indicate {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 15px;
  transform: rotate(45deg);
  background-color: #ef4c23;
}

.mapImageSection > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footerLogo {
  width: 100%;
  /* height: 100px; */
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  margin: auto;
}

.footerLogo > div > img {
  width: 75%;
  height: 100%;
  object-fit: contain;
}
.footerAddress {
  position: relative;
  height: fit-content;
  width: 45%;
}
.logoBottom {
  width: 45%;
  position: relative;
}
.taglinefooter {
  position: absolute;
  top: 93px;
  width: 100%;
  left: 50px;
  color: white;
}
.startWith {
  display: flex;
}

.footerMapContactSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  flex-wrap: wrap;
  color: white;
  font-weight: 500;
}
.footerMapContactSection li:nth-child(2) {
  border-left: 1px solid white;
}

.privacySection {
  width: 65%;
  margin: 0;
}

.mapSection p {
  width: 25%;
  font-size: 13px;
  color: white;
  font-weight: 600;
}

.footerSocialMediaSection {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 0;
  column-gap: 16px;
}

.socialIcons {
  font-size: 35px;
  border: 1px solid white;
  padding: 6px;
  color: #ef4c23;
  border-radius: 18px;
  background-color: white;
}
.socialIcons:hover {
  font-size: 35px;
  /* border: 1px solid white; */
  padding: 6px;
  color: white;
  background-color: #ef4c23;
  border-radius: 18px;
}

.footerAddress > p {
  width: 100%;
  color: white;
}

.MainFooter-whatsapp-container {
  position: fixed;
  bottom: 0;
  right: 28.5%;
  height: fit-content;
  width: 450px;
  z-index: 999999999999999999999999;
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 10px;
  cursor: default;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 10px;
  border-top-left-radius: 0;
}

.MainFooter-whatsapp-container > div {
  width: 45%;
  margin-bottom: 2%;
}

.MainFooter-whatsapp-container > div > h1 {
  font-size: 25px;
  margin: 2px;
  color: #ef4c23;
}

.MainFooter-whatsapp-container > div > h3 {
  font-size: 18px;
  margin: 5px;
  margin-left: 10px;
  color: #393939;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 10px;
}
