.mobileDevMainSolutionsOuterDiv {
  /* border: 2px solid red; */
  width: 100%;
  /* height: 75vh; */
}
.mobileDevMainSolutionsHeading {
  text-align: center;
  padding-top: 2%;
  width: 75%;
  margin: auto;
  /* border: 2px solid red; */
}
.mobileDevMainSolutionsContent {
  /* border: 2px solid gold; */
  width: 85%;
  display: flex;
  flex-direction: row;
  /* height: 45vh; */
  margin: auto;
}
.mobileDevMainSolutionsContentBox1 {
  /* border: 2px solid red; */
  width: 25%;
  /* height: 50vh; */
  margin-left: 3%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mobileDevMainSolutionsIcons {
  width: 50px;
  height: 50px;
  margin: 5% 0% 2% 4%;
}
.mobileDevMainSolutionsContentHeading {
  /* border: 2px solid red; */
  margin: 5% 0% 2% 4%;
}
.mobileDevMainSolutionsText {
  /* border: 2px solid red; */
  margin: 5% 1% 4% 4%;
}
