.plantBasedAdminPanel {
  width: 100%;
  height: max-content;
  margin: 60px 0;
  /* background-color: aqua; */
}
.plantBasedAdminPanel > h1 {
  margin-left: 5%;
}
.plantBasedAdminPanelsub {
  width: 100%;
  justify-content: space-between;
  margin: auto;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.plantBasedAdminPanelleft {
  width: 45%;
  height: 500px;
  /* padding: 10px; */
  display: flex;
  position: relative;
}
.plantBasedAdminPanelright {
  width: 45%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
}

.plantBasedAdminPanelright > div {
  padding: 10px 10px 10px 10px;
  height: 250px;
  width: 45%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.plantBasedAdminPanelright > div:hover {
  background-color: #e1f9f6;
}
.plantBasedAdminPanelright > div > h3 {
  font-size: 18px;
}

.logisticDriveImagplantBasedAdminPanelImagee {
  width: 80%;
  height: 500px;
  text-align: right;
  padding-bottom: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 54%;
  left: 50%;
}

.logisticDriveImagplantBasedAdminPanelImagee > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
