.flutterCrossPlatformMainDiv {
  width: 100%;
  /* border: 2px solid red; */
  margin-top: 2%;
}
.flutterCrossPlatformHeading {
  /* border: 2px solid red; */
  width: 80%;
  font-size: 25px;
  font-weight: 500;
  margin-top: 2%;
  margin-left: 4%;
}
.flutterCrossPlatformtext {
  width: 80%;
  /* border: 2px solid red; */
  margin-top: 2%;
  margin-left: 4%;
}
.flutterCrossPlatformCardBoxDiv {
  width: 65%;
  margin: auto;
  margin-top: 2%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}
.flutterCrossPlatformCardBox {
  width: 100%;
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: row;
}
.flutterCrossPlatformCardBox1 {
  width: 100%;
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.flutterCrossPlatformDataBoxes {
  /* border: 2px solid red; */
  width: 30%;
  border-radius: 5px;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flutterCrossPlatformDataBoxes:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flutterCrossPlatformDataIcon {
  /* border: 2px solid red; */
  margin: auto;
  padding: 2%;
  object-fit: cover;
  background-size: cover;
}
.flutterCrossPlatformDataContent {
  /* border: 2px solid red; */
  width: 95%;
  margin: auto;
}
