.mobileuxuidesignbannermainboxes {
  height: 100vh;
  background: url("/Images/MobileUIUXDesign/BannerBackgrounds/Component 67.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.mobileuxuidesigntextbox {
  height: fit-content;
  width: 35%;
  text-align: justify;
  position: absolute;
  top: 30%;
  left: 3%;
  color: white;
}
