.mobileuxuidesignpartnermainbox {
  height: fit-content;

  margin-top: 5%;
}

.mobileuxuidesignpartnermainbox > p {
  margin-left: 3%;
  width: 25%;
}

.mobileuxuidesignpartnermainbox > h1 {
  margin-left: 3%;
}

.mobileuxuidesignpartnermainbox > h6 {
  width: 70%;
  margin-left: 3%;
  text-align: justify;
}

.mobileuxuidesignpartnerdatamappingmainbox {
  height: fit-content;

  margin-left: 3%;
  display: flex;
  flex-wrap: wrap;
}

.mobileuxuidesignpartnerindividualdatabox {
  height: 300px;
  width: 28%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 2% 3% 0% 0%;
  padding: 10px;
  text-align: justify;
}

.mobileuxuidesignpartnerindividualdatabox:hover {
  transform: scale(1.02);
}

.mobileuxuidesignpartnerindividualdataboxlogo {
  height: 30%;
  width: 20%;

  margin: 2%;
  padding: 10px;
}

.mobileuxuidesignpartnerindividualdataboxlogo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.mobileuxuidesignpartnerindividualdataboxtxt {
  padding: 10px;
}
