.mobileuxuiserviceofferedmainboxes {
  height: 500px;

  background: url("/Images/MobileUIUXDesign/BannerBackgrounds/Component 66.png");
  background-position: center;
  position: relative;
}

.mobileuxuiserviceofferedmainboxes {
  text-align: center;
  margin-top: 5%;
}

.serviceweofferdatamappinguxuidesign {
  height: 80%;
  width: 95%;
  margin-left: 1%;
  margin-right: 1%;

  display: flex;
  position: absolute;
  top: 20%;
}

.serviceweofferaftermappingindivisalbox {
  height: 80%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 1%;
  padding: 10px;
  width: 30%;
  background-color: white;
}

.serviceweofferaftermappingindivisalbox:hover {
  transform: scale(1.02);
}

.serviceweofferaftermappingindivisalboxicons {
  height: 20%;
  width: 50%;

  padding: 5px;
}

.serviceweofferaftermappingindivisalboxheadingtxt {
  text-align: justify;
}

.mobileuiuxserviceoffersbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #3380f2;
  color: white;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 90%;
  left: 45%;
}

.mobileuiuxserviceoffersbutton:hover {
  background-color: white;
  color: #3380f2;
}
