.StartupSolWhyBF-main {
  width: 90%;
  margin: auto;
}

.StartupSolWhyBF-main > h1 {
  font-size: 32px;
  margin-top: 2%;
  margin-bottom: 1%;
}

.StartupSolWhyBFContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StartupSolWhyBFContent {
  width: 45%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.StartupSolWhyBFContent > div {
  width: 49%;
  height: 170px;
  margin-bottom: 2%;
  background-color: #f5f5f5;

  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;

  position: relative;
}

.StartupSolWhyBFContent > div > h4 {
  font-size: 16px;
  margin: 0;

  position: absolute;
  bottom: 20%;
  left: 5%;
  transition: opacity 0.4s linear;

  opacity: 1;
}

.StartupSolWhyBFContent > div:hover h4 {
  opacity: 0;
}

.StartupSolWhyBFContent > div > div {
  width: 30%;
  height: 3px;
  background: #ef4c23;

  position: absolute;
  bottom: 15%;
  left: 5%;
  border-radius: 10px;
  overflow: hidden;

  transition: bottom 0.2s linear, height 0.2s linear 0.3s, width 0.2s linear;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.StartupSolWhyBFContent > div > div > p {
  color: white;
  font-size: 16px;

  width: 90%;
  margin: auto;
  opacity: 0;

  transition: opacity 0.2s linear;
}

.StartupSolWhyBFContent > div:hover div {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.StartupSolWhyBFContent > div:hover div > p {
  text-align: justify;
  opacity: 1;
}

.StartupSolWhyBFImage {
  width: 50%;
  height: fit-content;
}

.StartupSolWhyBFImage > img {
  width: 100%;
}
