.mernBanner {
  /* margin-top: 90px; */
  height: 100vh;
  position: relative;
}

.mernbannercontent {
  width: 35%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 23%;
  /* background-color: red; */
  padding: 30px;
  color: white;
}

.mernButton {
  font-weight: 600;
  padding: 10px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}
.mernButton:hover {
  background-color: #0fb2e8;
  color: white;
}

.bannerIcons {
  width: 150px;
  height: 400px;
  /* background-color: green; */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  justify-content: center;
}

.mernskills {
  width: 70px;
  height: 70px;
}
.mernskills > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
