.whybottom {
  width: 100%;
  height: 700px;
  /* background-color: green; */
  padding: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.whyreasons {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  column-gap: 20px;
  row-gap: 20px;
  padding: 30px 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  z-index: 1;
}

.whyfeatureCard {
  width: 49%;
  height: 250px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  text-align: left;
}

.whyfeatureImage {
  width: 50px;
  height: 50px;
}
.whyfeatureImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.whyfeatureContent {
  width: 100%;
}

.backelement {
  position: absolute;
  width: 400px;
  height: 400px;
  top: -58px;
  right: -35px;
  z-index: -1;
  /* background-color: antiquewhite; */
}
.backelement > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.backelementbottom {
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: -170px;
  left: -50px;
  z-index: -2;
  /* background-color: antiquewhite; */
}
.backelementbottom > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
