.flutterServicesMainDiv {
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
}
.flutterServicesheading {
  color: black;
  width: 90%;
  margin-left: 3%;
  font-weight: 500;
  margin-top: 4%;
  /* border: 2px solid red; */
}
.flutterServicesDescription {
  color: black;
  font-size: 25px;
  /* border: 2px solid red; */
  margin-top: 3%;
  margin-left: 3%;
  width: 80%;
}
.flutterServicesContainerDiv {
  /* border: 2px solid black; */
  width: 80%;
  margin: auto;
  margin-top: 4%;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.flutterServiceBox {
  /* border: 2px solid red; */
  width: 90%;
  margin: auto;
  margin-top: 4%;
  display: flex;
  flex-direction: row;
}
.flutterServicesContainerBoxes {
  width: 30%;
  border-radius: 5px;
  /* border: 2px solid red; */
  background-color: white;
  margin-left: 2%;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: column;
}

.flutterServicesContainerBoxes:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  transform: scale(1.1);
  /* transform: translateY(-15px); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flutterServiceBoxIcon {
  border: 1px solid lightgray;
  width: 30%;
  padding-left: 6px;
  border-radius: 5px;
  margin-top: 2%;
  object-fit: cover;
  background-size: cover;
}
.flutterServiceBoxHeading {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 3%;
  font-weight: 500;
}
.flutterServiceBoxContent {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 3%;
  font-size: 13px;
}
