body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #F4F4F4; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  margin: 0 !important;
}

p {
  font-size: 16px;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #393939;
    background-color: #ffffff;
  }
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgba(0, 0, 0, 0.901) !important ;
}

.css-919eu4 {
  background-color: rgb(13 12 12 / 88%) !important;
  -webkit-tap-highlight-color: #1a1818ea !important;
}
