.getStarted {
  width: 99%;
  height: 120px;
  background: url("/Images/webdevmain/getstartedBanner.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0.3px solid #ef4c23;
}

.getText {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

.getText > p {
  width: 53%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 30%;
  margin: auto;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
}

.getText > button {
  position: absolute;
  transform: translate(-50%, 50%);
  top: 7%;
  right: -2%;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  background-color: white;
  border-radius: 10px;
}

.getText > button:hover {
  background-color: #982508;
  color: white;
}
