.InsuranceSalesScreensmaindiv{
    /* border:  2px solid red; */
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 6%;

}
.InsuranceSalesScreensmaindiv p{
    font-size: 18px;
    margin-top: 30px;
}
.InsuranceSalesScreensmaincontaindiv{
    /* border: 2px solid green; */
    width: 60%;
   
}
.InsuranceSalesScreensmainimagediv{
    border: 1px solid lightgray;
    width: 50%;
     height: 480px;
     margin-left: 2%;
     border-radius: 10px;
     /* margin-top: 1%; */
}
.InsuranceSalesScreensmainimagediv img{
    width: 100%;
    

}

.InsuranceSalesScreensmainimagediv1{
    border: 1px solid lightgray;
    width: 50%;
     height: 480px;
     /* margin-left: 2%; */
     border-radius: 10px;
     /* margin-top: 1%; */
}
.InsuranceSalesScreensmainimagediv1 img{
    width: 100%;
    

}
.InsuranceSalesScreensmaincontaindiv1{
    /* border: 2px solid green; */
    width: 60%;
    margin-left: 3%;
   
}

