._SeoTrusted {
  display: flex;
  padding: 50px 0;
}
._SeoTrustedCarousel {
  width: 68%;
  text-align: center;
  margin: auto;
}

._SeoTrustedtext {
  width: 30%;
  color: white;
  font-size: 32px;
  text-align: center;
  box-sizing: border-box;
  padding: 25px;
  font-weight: 600;
  background-color: #ef4c23;
  position: relative;
}
.globalbrands {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
._Seobrandimg {
  /* border: 1px solid black; */
  height: 100px;
  width: 147px;
  position: relative;
  
}
._Seobrandimg > img {
  width: 80%;
  height: 70%;
  object-fit: contain;
  filter: grayscale(1);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
._Seobrandimg > img:hover {

  filter:none;
 
}


.mainlogoDiv{
  /* width: 200px; */
  height: 100px;
  /* background-color: green; */
}